*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
}

.container nav {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 40px;
}

.logo h1 {
  color: red;
  text-transform: uppercase;
  font-size: 40px;
}

.search_bar {
  margin-right: 40px;
}

#search_button, .input_user {
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: none;
}

.input_user {
  width: 250px;
}

.container_movie {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie_list {
  display: none;
  padding-top: 40px;
  width: 20%;
}

.movie_poster {
  margin: 25px 0;
}

.flag_lang {
  width: 15px;
  height: auto;
}

.rate_star {
  font-size: 20px;
  color: yellow;
}
